header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
    padding-left: 0;
  }
}

input.invisible {
    border: none;
    margin: 0;
    height: auto;
}

.inline-block {
    display: inline-block;
}

input.todo-title {
    font-size: 22px;
}

.logo {
    padding: 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
}

.habit textarea {
    border: none;
}

.habit textarea:focus {
    outline: none;
}

.color-icon.red,
.habit .card.color-red {
  background-color: #D64541;
}

.color-icon.blue,
.habit .card.color-blue {
  background-color: #19B5FE;
}

.color-icon.green,
.habit .card.color-green {
  background-color: #87D37C;
}

.color-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 3px solid #C9C9C9;
}
