<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | Workdone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/css/materialize.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src='https://unpkg.com/packery@2.1.1/dist/packery.pkgd.min.js'></script>
    <script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <ul id="sidenav" class="side-nav fixed">
            <div class="logo">
                <img src="/images/workdone-logo-256.png"/>
            </div>
            <div class="profile">
                <profile :user="user"></profile>
            </div>
            <li><a href="#!">Habits</a></li>
            <li><a href="#!">Tasks</a></li>
            <li><a href="#!">Profile</a></li>
            <li><a href="#!">Settings</a></li>
        </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Workdone</a>
            <a href="#" data-activates="sidenav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a @click="refreshTodos" href="#"><i class="material-icons">refresh</i></a></li>
            </ul>
        </div>
    </nav>
</header>
    <div>
    <main>
        <router-view></router-view>
        <dashboard></dashboard>
    </main>
</div>
</div>
<script src="/app/habit.js"></script>
<script src="/app/profile.js"></script>
<script src="/app/tag.js"></script>
<script src="/app/task.js"></script>
<script src="/app/todo.js"></script>
<script src="/app/app.js"></script>
<script src="/js/bin/materialize.min.js"></script>
<script>
  $(".button-collapse").sideNav({
      menuWidth: 240,
      draggable: true
  });
</script>
</body>
</html>
