<!DOCTYPE html>
<html>
<head>
    <title>Workdone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/frontpage.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"/>
</head>
<body>
<section id="first">
    <div class="main-box centered">
        <img src="/images/workdone-logo-256.png" alt="Logo"/>
        <h1 class="text">Workdone</h1>
        <div class="motto">Make your life a beautiful game and get motivated</div>
        <a href="/login" class="btn-sign-in"><img src="/images/btn-google-sigin-light.png" alt="Sign-In"/></a>
    </div>
</section>
</body>
</html>
